.Wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Container{
    width: var(--default-layout-width);
    display:flex;
}

.Content{
    flex: 1;
}
