.divSideNavPlaceHolderConaiter{
    width: 15rem;
    flex-shrink: 0;
    z-index:99;
}

.divSideNavConainer{
    width: 15rem;
    height: 100vh;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: clip hidden;
    overscroll-behavior: contain;
    flex-direction: column;
    flex-shrink: 0;
    background-color: black;
    position: fixed;
    box-sizing: content-box;
}

.divAnimationCover{
    position: absolute;
    height: 100%;
    width: calc(12.5rem);
    transition: width 400ms;
    top: 0px;
    left: 0px;
    background-color: black;
}

.divFixedContentContainer{
    display: flex;
    flex-direction: column;
    padding-top: 1.25rem;
    padding-bottom: 0.5rem;
    flex-shrink: 0;
    gap: 1rem;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
}

.divSrollingContentContainer{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.5rem;
    scrollbar-width: none;
}
