.Wrapper{
    --search-height: 46px;
    --search-height-spacer: 9px;
    height: 60px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    width: 100%;
    display: flex;
    justify-content: center;
    display: none;
}

.inner{
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 1150px;
    align-items: center;
    
}

.search-result{
    width: 361px;
}

.search{
    width: 361px;
    height: var(--search-height);
    display: flex;
    align-items: center;
    background-color: rgba(22 ,24 ,35 ,0.06);
    justify-content: center;
    padding-left:16px;
    border-radius: 92px;
    border: 1.5px solid transparent;
    position: relative;

    input{
        color:var(--black);
        flex: 1;
        padding:12px 0px;
        font-size: 1.6rem;
        border: none;
        background-color: transparent;
        outline-style: none;
        caret-color: var(--primary-color);
    }

    input:not(:placeholder-shown) ~ .search-btn{
        color: rgba(22 ,24 ,35 ,0.75);
    }

    &:focus-within{
        border-color:rgba(22 ,24 ,35 ,0.2);
    }
}

.search-btn{
    width: 52px;
    height: 100%;
    border: none;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    color: rgba(22 ,24 ,35 ,0.34);
    font-size: 1.8rem;
    position:relative;
    padding:10px;

    &:hover{
        background-color: rgba(22 ,24 ,35 ,0.03);
        cursor: pointer;
    }

    &:active{
        background-color: rgba(22 ,24 ,35 ,0.06);
    }

    &::after{
        content: "";
        height: calc(var(--search-height) - var(--search-height-spacer) * 2);
        width: 1px;
        background-color: rgba(22 ,24 ,35 ,0.12);
        top:var(--search-height-spacer);
        left: 0;
        position: absolute;
    }
}

.close-btn, .loading{
    position: absolute;
    right:65px;
    color: rgba(22 ,24 ,35 ,0.34);
}

.search-title{
   color: rgba(22, 24, 35 , 0.5);
   font-size: 1.4rem;
   font-weight: 600;
   padding: 5px 12px;
}

.more-btn{
    font-size: 2rem;
    margin-left: 25px;
    padding:4px 6px;
}

.actions{
    display: flex;
    align-items: center;
}

.actions-btn{
    font-size: 2.2rem;
    padding:4px 12px;
}

.user-avatar{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    margin-left: 12px;
}



