@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --primary:#ff3b5c;
}

html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Roboto", serif;
    color:white;
    font-size: 1.6rem;
    background-color: black;
    text-rendering: optimizeSpeed;
    line-height: 21px;
}

.DivBodyContainer{
    margin: 0;
    display: flex;
    width:100vw;
    max-width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-self: center;
    flex: 1 1 auto;
    background-color: black;
}
