@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --primary-color:#ff3b5c;
    --black:#000;
    --default-layout-width:1150px;
    --text-color:#333;
}

html{
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    color: var(--text-color);
}

button, input, [tabindex]{
    outline: none;
    border: none;
}

a[href]{
    color: var(--text-color);
    text-decoration: none;
}

